doc/
doc/*

.env
*.env
*.env.local
.env.*.local

**/bin/
**/obj/
**/Debug/
**/Release/

.vs/
.vscode/
*.user
*.userprefs
*.suo
*.sln.docstates
*.DotSettings.user

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
*.log
scratch/
mock_emails/
